{% extends 'base.html' %}

{% load static %}

{% block titulo %}
<title>Menú</title>
{% endblock %}



{% block contenido %}
<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-header">
            <h2>Revisa</h2>
            <p>Nuestro <span>Delicioso Menú</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center aos-init aos-animate" data-aos="fade-up"
            data-aos-delay="200" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters"
                    aria-selected="true" role="tab">
                    <h4>Entradas</h4>
                </a>
            </li><!-- End tab nav item -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast" aria-selected="false"
                    tabindex="-1" role="tab">
                    <h4>Platos Principales</h4>
                </a><!-- End tab nav item -->
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch" aria-selected="false"
                    tabindex="-1" role="tab">
                    <h4>Postres</h4>
                </a>
            </li><!-- End tab nav item -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner" aria-selected="false"
                    tabindex="-1" role="tab">
                    <h4>Liquidos</h4>
                </a>
            </li><!-- End tab nav item -->
        </ul>

        <div class="tab-content aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="tab-pane fade active show" id="menu-starters" role="tabpanel">
                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Entradas</h3>
                </div>
                <div class="row gy-5">
                    {% for p in producto %}
                    {% if p.tipo_plato == 0 %}
                    <div class="col-lg-4 menu-item">
                        <a href="{{ p.imagen.url }}" class="glightbox"><img src="{{ p.imagen.url }}"
                                class="menu-img img-fluid" alt=""></a>
                        <h4>{{ p.nombre }}</h4>
                        <p class="ingredients">
                            {{ p.descripcion }}
                        </p>
                        <p class="price">
                            ${{ p.precio }}
                        </p>
                        <form method="POST" action="{% url 'add_to_cart' p.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Agregar al carrito" class="btn btn-primary">
                        </form>
                    </div><!-- Menu Item -->
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane fade" id="menu-breakfast" role="tabpanel">
                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Platos Principales</h3>
                </div>
                <div class="row gy-5">
                    {% for p in producto %}
                    {% if p.tipo_plato == 1 %}
                    <div class="col-lg-4 menu-item">
                        <a href="{{ p.imagen.url }}" class="glightbox"><img src="{{ p.imagen.url }}"
                                class="menu-img img-fluid" alt=""></a>
                        <h4>{{ p.nombre }}</h4>
                        <p class="ingredients">
                            {{ p.descripcion }}
                        </p>
                        <p class="price">
                            ${{ p.precio }}
                        </p>
                        <form method="POST" action="{% url 'add_to_cart' p.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Agregar al carrito" class="btn btn-primary">
                        </form>
                    </div><!-- Menu Item -->
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane fade" id="menu-lunch" role="tabpanel">
                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Postres</h3>
                </div>
                <div class="row gy-5">
                    {% for p in producto %}
                    {% if p.tipo_plato == 2 %}
                    <div class="col-lg-4 menu-item">
                        <a href="{{ p.imagen.url }}" class="glightbox"><img src="{{ p.imagen.url }}"
                                class="menu-img img-fluid" alt=""></a>
                        <h4>{{ p.nombre }}</h4>
                        <p class="ingredients">
                            {{ p.descripcion }}
                        </p>
                        <p class="price">
                            ${{ p.precio }}
                        </p>
                        <form method="POST" action="{% url 'add_to_cart' p.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Agregar al carrito" class="btn btn-primary">
                        </form>
                    </div><!-- Menu Item -->
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane fade" id="menu-dinner" role="tabpanel">
                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Liquidos</h3>
                </div>
                <div class="row gy-5">
                    {% for p in producto %}
                    {% if p.tipo_plato == 3 %}
                    <div class="col-lg-4 menu-item">
                        <a href="{{ p.imagen.url }}" class="glightbox"><img src="{{ p.imagen.url }}"
                                class="menu-img img-fluid" alt=""></a>
                        <h4>{{ p.nombre }}</h4>
                        <p class="ingredients">
                            {{ p.descripcion }}
                        </p>
                        <p class="price">
                            ${{ p.precio }}
                        </p>
                        <form method="POST" action="{% url 'add_to_cart' p.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Agregar al carrito" class="btn btn-primary">
                        </form>
                    </div><!-- Menu Item -->
                    {% endif %}
                    {% endfor %}
                </div>
            </div><!-- End Dinner Menu Content -->
        </div><!-- End tab-content -->
    </div><!-- End container -->
</section><!-- End Menu Section -->

{% endblock %}
