{% extends 'base.html' %}

{% load static %}

{% block titulo %}

<title>Inicio</title>

{% endblock %}


{% block contenido %}

<!-- Primera Vista-->

<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div
                class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up" class="aos-init aos-animate">Disfruta con<br>Nosotros</h2>
                <p data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">Te invitamos a disfrutar de
                    todos nuestros platos en nuestro restorant o directamente en tu domilicio con nuestro delivery</p>
                <div class="d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <a href="#book-a-table" class="btn-book-a-table">Pide Aqui</a>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="{% static './images/Restorant/Restorant-1.jpeg' %}" class="img-fluid aos-init aos-animate"
                    alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>
        </div>
    </div>
</section>
<section id="about" class="about">
<div class="container aos-init aos-animate" data-aos="fade-up">
  <div class="section-header">
    <h2>Cobertura</h2>
    <p>Deli<span>very</span></p>
  </div>
  <div class="row gy-4 d-flex justify-content-center">
    <div class="col-lg-5 position-relative about-img aos-init aos-animate" data-aos="fade-up" data-aos-delay="150">
      <img src="{% static './images/restorant/mapa_cobertura.jpeg' %}" alt="" class="img-fluid">
    </div>
    <div class="col-lg-7 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
      <div class="content ps-0 ps-lg-5">
        <p class="fst-italic">
            <br><br>
          Nuestro servicio de delivery esta disponible para toda la comuna de <strong>Santiago, Región Metropolitana.</strong>  Esto garantiza poder entregar un despacho rápido y eficiente.
        </p>
        <p class="fst-italic">
          Ya sea que estés organizando una reunión familiar, una comida de negocios o simplemente desees disfrutar de una deliciosa comida en la comodidad de tu hogar, nuestro servicio de delivery en la comuna de Santiago está listo para brindarte una experiencia culinaria excepcional. Nos preocupamos por la satisfacción de nuestros clientes y nos esforzamos por superar sus expectativas en cada entrega. ¡Haz tu pedido ahora y déjanos sorprenderte con nuestros deliciosos sabores y servicio impecable!
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</section>




{% endblock %}