{% extends 'base.html' %}

{% block titulo %} Tu Perfil {% endblock %}

{% block contenido %}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-header">
                <h2>Perfil</h2>
                <p>Usuario <span>El Comilón</span></p>
            </div>
        </div>
    </div>
</div>

<section id="menuAdmin" class="menu">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <ul class="nav nav-tabs d-flex justify-content-center aos-init aos-animate" data-aos="fade-up"
            data-aos-delay="200" role="tablist">

            <li class="nav-item" role="presentation">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters"
                    aria-selected="true" role="tab">
                    <h4>Pedidos</h4>
                </a>
            </li><!-- End tab nav item -->
        </ul>

        <div class="tab-content aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">

            <div class="tab-pane fade active show" id="menu-starters" role="tabpanel">

                <div class="tab-header text-center">
                    <p>Tus</p>
                    <h3>Pedidos</h3>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellido</th>
                                            <th scope="col">Dirección Entrega</th>
                                            <th scope="col">Telefono Contacto</th>
                                            <th scope="col">Total Pedido</th>
                                            <th scope="col">Fecha Entrega</th>
                                            <th scope="col">Entrega Diaria</th>
                                            <th scope="col">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ped in ped %}
                                        <tr>
                                            <th scope="row">{{ ped.id }}</th>
                                            <td>{{ped.nombre}}</td>
                                            <td>{{ped.apellido}}</td>
                                            <td>{{ped.direccion}}</td>
                                            <td>{{ped.telefono}}</td>
                                            <td>${{ped.total}}</td>
                                            <td>
                                                {% if ped.fecha_entrega %}
                                                {{ped.fecha_entrega|date:"d-m-Y"}}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if ped.programar_diariamente == True %}
                                                Si
                                                {% else %}
                                                No
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if ped.estado == 0 %}
                                                Pendiente
                                                {% else %}
                                                Entregado
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}